/*
*.airport
*.png
*.DS_Store
*.txt
!jobs.csv
!*.md
!.gitignore
!Airports/
Airports/**/databases/**/backup/*
Airports/**/**/default/*
Airports/**/package.txt
Airports/**/assets/*
Airports/airports.csv
Airports/alphabet.csv
Airports/base.csv
Airports/commands_params.csv
Airports/numbers.csv
